.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.grid-1-2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
}

.grid-2-1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
}