// Body
$font-family: Verdana, Geneva, sans-serif;
$font-size: .9rem !default;
$line-height: 1.2 !default;

$body-font-size: 1rem !default;
$font-style: normal !default;
$font-variant: normal !default;
$font-weight: normal !default;
$font-color: #404040 !default;
$font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif !default;
$max-text-width: 60rem;

// Headings
$heading-font-color: #404040 !default;
$heading-font-weight: 700 !default;
$heading-font-family: Futura, "Trebuchet MS", Arial, sans-serif !default;
$heading-line-height: 1.2 !default;

$h1: 2.25rem !default;
$h2: 2rem !default;
$h3: 1.75rem !default;
$h4: 1.5rem !default;
$h5: 1.25rem !default;

// Spacing
$padding: 1rem !default;
$margins: 1.5rem !default;
$content-padding: 60px 0 !default;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
) !default;
// scss-docs-end grid-breakpoints